@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

html{
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 98%);
  height: 100%;
}

.App {

  font-size: 18px;
  font-weight: 500;
  font-family: 'Epilogue', sans-serif;
}

li, button{
  cursor: pointer;
}

p{
  margin: 0;
  padding: 5px 0 5px 0;
}
